<div class="flex justify-between items-center">

    <div class="flex gap-4">

        <a href="/" class="bg-gray-200 px-6 py-3 rounded-2xl font-medium">
            Biblioteca
        </a>

        <button class="px-6 py-3 rounded-2xl hover:bg-gray-200 transition">
            Playlists
        </button>

        <a href="/vocabulary/" class="px-6 py-3 rounded-2xl hover:bg-gray-200 transition">
            Vocabulário
        </a>

    </div>

    <button
        id="open-import-modal"
        class="bg-green-500 hover:bg-green-600 text-white px-6 py-3 rounded-xl flex items-center gap-3 shadow-sm transition font-medium"
    >
        Importar
    </button>

</div>
